This notebooks builds the final training set by combining the original training set and the round 1 results dataset.

In [ ]:
import pandas as pd

from src.utils.load_data import load_data
import constants.paths as pth
import constants.constants as cst

In [ ]:
training_data = load_data()
round_1_features = load_data(pth.NEW_LOANS_PATH)
round_1_defaults = load_data(pth.RESULTS_PATH)

In [19]:
training_data

      sex  employment  married  income   signal1   signal2   signal3  default
0       M  unemployed        0       0  0.749267  0.422656  0.738735        0
1       M    employed        1   26108  0.697428  0.596361  0.733947        0
2       M    employed        1   11810  0.000000  0.652496  0.000000        0
3       M  unemployed        1       0  0.000000  0.000000  0.000000        0
4       F     retired        1    6310  0.000000  0.041123  0.203202        0
...    ..         ...      ...     ...       ...       ...       ...      ...
99995   F     student        0    4564  0.000000  0.333091  0.876951        0
99996   M    employed        0   18882  0.000000  0.367979  0.556855        0
99997   M    employed        1   19121  0.858688  0.508737  0.722149        0
99998   M    employed        1   53563  0.736672  0.328757  0.000000        0
99999   F     student        0       0  0.907856  0.995003  0.977273        0

[100000 rows x 8 columns]

In [20]:
round_1_results

,id,own,competing1,competing3,borrowertype,accepted,default,profit
0,1,0.029193,0.054436,0.025796,3,0,0,NaN
1,2,0.173636,0.186897,0.110289,1,0,1,NaN
2,3,0.027934,0.052648,0.100135,3,1,0,279.33716
3,4,0.111224,0.105168,0.090256,3,0,0,NaN
4,5,0.197088,0.127306,0.194219,1,0,0,NaN
...,...,...,...,...,...,...,...,...
99995,99996,0.100060,0.160974,0.066152,3,0,0,NaN
99996,99997,0.185697,0.200041,0.142413,3,0,0,NaN
99997,99998,0.203107,0.223306,NaN,3,1,0,2031.06920
99998,99999,0.019590,0.045920,0.010895,2,1,0,195.89999
99999,100000,0.114420,0.165203,0.142749,3,1,0,1144.20400

In [21]:
round_1_features

           id sex  employment  married  income   signal2
0           1   M    employed        0   29758  0.000000
1           2   F     retired        1    6140  0.000000
2           3   F    employed        1   27186  0.008139
3           4   M    employed        1    8429  0.624570
4           5   M     retired        1    2820  0.097230
...       ...  ..         ...      ...     ...       ...
99995   99996   M     retired        1    9027  0.070968
99996   99997   M     student        0    6229  0.635176
99997   99998   M    employed        1    6471  0.748987
99998   99999   M  unemployed        0   32654  0.000000
99999  100000   F    employed        1    7415  0.628708

[100000 rows x 6 columns]